{% extends 'base.html.twig' %}

{% block title %}Jukebox{% endblock %}

{% block body %}
<div class="container">
    <div class="title">
        <h1>JUKEBOX</h1>
    </div>
    <div>
        <table class="table text-light">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Année</th>
                <th>Pochette</th>
                <th>Titres</th>
                <th>Lien audio</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr>
                    <td>{{ album.name }}</td>
                    <td>{{ album.year }}</td>
                    <td>{{ album.image }}</td>
                    <td>{{ album.titles }}</td>
                    <td>{{ album.linkAudio }}</td>
                    <td>
                        <a href="{{ path('album_show', {'id': album.id}) }}">show</a>
                        <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="btn btn-validate" href="{{ path('album_new') }}">Créer un nouveau</a>
        </div>
    </div>
</div>

    <div class="home-footer">
        <a href="{{ path('search') }}"><i class="las la-images"></i></a>
        <a href="{{ path('record_dealer') }}"><i class="las la-headphones-alt"></i></a>
    </div>
{% endblock %}
