{% extends 'base.html.twig' %}

{% block title %}{{ album.name }}{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="title">
                <h2>{{ album.name }}</h2>
            </div>
            <div>
                <table class="table jacket">
                    <tbody>
                    <tr>
                        <td>{{ album.artist.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ album.year }}</td>
                    </tr>
                    <tr>
                        <td>{{ album.category.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('album_jukebox') }}"><i class="las la-record-vinyl"></i></a>
            <div class="play">
                <a href=""><i class="las la-play-circle"></i></a>
            </div>
        </div>
    </div>
{% endblock %}