{% extends 'base.html.twig' %}

{% block title %}{{ album.name }}{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="title">
                <h2>{{ album.name }}</h2>
            </div>
            <div>
                <table class="table jacket">
                    <tbody>
                    <tr>
                        <td>{{ album.artist.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ album.year }}</td>
                    </tr>
                    <tr>
                        <td>{{ album.category.name }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row jacket-play">
                    <iframe scrolling="no" frameborder="0" allowTransparency="true"
                            src="{{ album.linkAudio }}"
                            width="200" height="200"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer justify-content-center">
        <a href="{{ path('album_jukebox') }}"><i class="las la-record-vinyl"></i></a>
        <audio autoplay="false" id="beep" src="https://lasonotheque.org/UPLOAD/mp3/0587.mp3">
        </audio>
        {# <div id="beep">
            <a>
                <audio src="{{ album.linkAudio }}" controls onclick="PlaySound()"><i class="las la-play-circle"></i>
                </audio>
            </a>
        </div>#}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function PlaySound() {
            var sound = document.getElementById("beep");
            sound.play();
        }
    </script>
{% endblock %}