{% extends 'base.html.twig' %}

{% block title %}Jukebox{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="title">
                <h1>JUKEBOX</h1>
            </div>
            <div class="jukebox search-form">
                <div class="row justify justify-content-center">

                    <div id="carousel-example-generic" class="carousel slide vertical carousel-form"
                         data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                {% for album in albums %}
                                <a href="{{ path('album_show', {'id': album.id}) }}">
                                    <img class="img mb-4" src="{{ album.image }}" alt="Pochette album">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('search') }}"><i class="las la-images"></i></a>
            <div class="count">
                {{ amount }}
            </div>
            <a href="{{ path('app_login') }}"><i class="las la-headphones-alt"></i></a>
        </div>
    </div>
{% endblock %}
