{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="title">
                <h1>Bienvenue</h1>
            </div>
            <div class="home-admin-disc">
                <img src="{{ asset('build/discos-de-acetato-png-5.png') }}">
            </div>
            <div class="row search-form">
                <div class="search-choice mt-4 ">
                    <a href="{{ path('album_index') }}">ALBUMS</a>
                </div>
                <div class="search-choice mt-5">
                    <a href="{{ path('artist_index') }}">ARTISTES</a>
                </div>
                <div class="search-choice mt-5">
                    <a href="{{ path('category_index') }}">CATEGORIES</a>
                </div>
            </div>
        </div>
        <div class="footer justify-content-center">
            <a class="nav-link" href="{{ path('app_logout') }}"><i class="las la-sign-out-alt"></i></a>
        </div>
    </div>
{% endblock %}