{% extends 'base.html.twig' %}

{% block title %}Disquaire{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="title">
                <h1>DISQUAIRE</h1>
            </div>
            <div class="illustration">
                <img src="{{ asset('build/Disquaire2.png') }}" alt="Record dealer">
            </div>
            <div class="row search-form">
                {{ form_start(form) }}
                <div class="search-choice mt-3">
                    {{ form_widget(form) }}
                </div>
                <div>
                    <input class="send" type="submit" value="{{ button_label|default(' Chiner ') }}">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('search') }}"><i class="las la-images"></i></a>
            <a href="{{ path('album_jukebox') }}"><i class="las la-record-vinyl"></i></a>
        </div>
    </div>
{% endblock %}