{% extends 'base.html.twig' %}

{% block title %}Bac à vinyls{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="illustration">
                <img src="{{ asset('build/img_disq.png') }}">
            </div>
            <div class="title">
                <h2>CHINER PAR</h2>
            </div>
            <div class="row search-form">
                {{ form_start(form) }}
                <div class="search-choice col">
                    {{ form_row(form.artist) }}
                </div>
                <div class="search-choice col">
                    {{ form_row(form.category) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('record_dealer') }}"><i class="las la-headphones-alt"></i></a>
            <a href="{{ path('album_index') }}"><i class="las la-record-vinyl"></i></a>
        </div>
    </div>
{% endblock %}
